
/*Style Sheet for Word Chain*/

@import url(https://fonts.googleapis.com/css?family=Fredericka+the+Great);
@import url(https://fonts.googleapis.com/css?family=Bangers);

body{
  background: url(http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/linedpaper.png);
}
#message{
  text-align: center;
  font-family: 'Bangers',cursive;
  margin: 15px;
  padding: 5px;
}
#header{
  font-family: 'Bangers', cursive;
  /*font-size: px;*/
  text-align: center;
  margin: 25px;
  padding: 10px;

}
#content{
  font-family: 'Bangers', cursive;
  margin: 0 auto;
  width: 1000px;
}
.outbox{
  width: 100%;
  /*position: relative;*/
  margin: 0 auto;
  /*border: 1px solid black;*/
  text-align: center;
}
#p1col{
  width: 25%;
  margin: 0 auto;
  /*border: 1px solid black;*/
  display: inline-block;
  float: left;
}
#p2col{
  width: 25%;
  margin: 0 auto;
  /*border: 1px solid black;*/
  display: inline-block;
  float: left;
}
#midcol{
  width: 49.4%;
  margin: 0 auto;
  display: inline-block;
  float: left;
  /*border: 1px solid black;*/
  /*text-align: center;*/
  /*border: 1px solid black;*/
  /*opacity: 0.5;*/
  /*filter: alpha(opacity=50);*/
}
.p1{
  margin: 2px;
}
.p2{
  margin: 2px;
}

.player1{
  text-align: center;
}
.player2{
  text-align: center;
}
.gameover{
  color: red;
}
.pWord{
  text-align: center;
  list-style-type: none;
  font-size: large;
}
